.main-container {
    display: flex;
    align-items: flex-start;
}
.content {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}
.fixed-sidebar {
    width: 300px;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    padding: 20px;
    overflow-y: auto;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.product-list-container {
    flex: 1;
    overflow-y: auto;
    max-height: 60vh;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}
